<div class="header">
  <div id="nav-settings">
    <button role="button" class="settings-button btn-basic" (click)="gameService.settingsVisible = true">⚙Settings</button>
    <div class="toolbar-separator"></div>
    <button role="button" class="settings-button btn-basic" routerLink="/ranks">🏆Previous Games</button>
    <button role="button" class="settings-button btn-basic" routerLink="/">🕹️MineSweeper</button>
    <div class="toolbar-separator"></div>
    <button role="button" class="settings-button btn-basic" routerLink="/saved-games">📂Load Game</button>
    <div class="toolbar-separator"></div>
  </div>
  <nav>
      <ul style="display: flex;">
          <li>
            <a  target="_blank" href="https://github.com/wfpena/minesweeper-angular">
              <div style="display: flex;">
                <img height="28px" src="assets/github-mark.svg" alt="Github">
              </div>
            </a>
          </li>
      </ul>
  </nav>
</div>
