<div class="header">
  <div id="nav-settings">
    <button role="button" class="settings-button btn-basic" (click)="gameService.settingsVisible = true">⚙Settings</button>
    <div class="toolbar-separator"></div>
    <!-- <button role="button" class="settings-button btn-basic" (click)="gameService.previousGamesVisible = true">🏆Previous Games</button> -->
    <button role="button" class="settings-button btn-basic" routerLink="/ranks">🏆Previous Games</button>
    <button role="button" class="settings-button btn-basic" routerLink="/">🕹️MineSweeper</button>
    <div class="toolbar-separator"></div>
  </div>
  <nav>
      <ul>
          <li><a href="#">‍💻Github (TODO)</a></li>
      </ul>
  </nav>
</div>
