.rank-cell 
	display: flex 
	flex-direction: column 
	align-items: flex-start 
	justify-content: center 
	border: 1px solid black 
	padding: 5px 
	margin-top: 10px 
	width: 100% 
	font-size: small 
.ranks-container 
	display: flex 
	flex-direction: column 
	align-items: center 
	justify-content: center 
	background-color: #c0c0c0 
	min-width: 500px 
	padding: 5px 
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
.rank-board 
	display: flex 
	width: 100% 
	flex-direction: column 
	justify-content: flex-start 
	align-items: flex-start 
	max-height: 700px
	overflow: auto
.exit-bar
	display: flex
	align-items: center
	justify-content: flex-end
	width: 100%
	background: linear-gradient(90deg,navy,#1084d0)
	padding: 3px 2px 3px 3px
.exit-button
	font-weight: bold
	color: white
	padding: 2px
	margin-right: 5px
	border: 1px solid white
	border-radius: 10%
	padding: 2px 5px 2px 5px
	cursor: pointer
.exit-button:hover
	opacity: 0.5
.rank-header
	display: flex
	align-items: center
	justify-content: center
