<div class="ranks-container">
  <div class="exit-bar">
    <div class="exit-button" routerLink="/">X</div>
  </div>
  <div class="rank-header"><span style="font-weight: bold;">Saved Games</span>🏆</div>
  <div class="rank-board">
    <div *ngFor="let game of savedGames" class="rank-cell">
      <div style="display: flex;justify-content: space-between;width: 90%;">
        <div><span style="font-weight: bold;">Start Time:</span> {{game.startTime | date:'MM-dd-YYYY hh:mm'}}</div>
      </div>
      <div style="margin: 3px 0px 3px 0px;">
        <span style="font-weight: bold;">Difficulty:</span>
        <span class="tag" [class]="game.difficulty">{{game.difficulty}}</span>
      </div>
      <div style="display: flex;width: 100%;">
        <div style="flex:2;"><span style="font-weight: bold;">Total Time Spent:</span> {{game.time}}</div>
        <div style="flex:1;">
          <button style="cursor: pointer;" (click)="gameService.loadSavedGame(game)">📂Load Game</button>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <button routerLink="/" class="btn-basic">Back To Game</button>
  </div>
</div>