<button 
  *ngIf="cell && !cell.clicked && gameService.currentGameState === 'run'"
  (click)="onClick()"
  (contextmenu)="onRightClick()"
  class="border w-full h-full text-black font-bold tile"
  
>
    {{flagSymbol}}
</button>
<button
  *ngIf="cell && !cell.clicked && gameService.currentGameState !== 'run'"
  disabled
  class="w-full h-full text-black font-bold border border-t-blue-200 border-l-blue-200 border-b-blue-950 border-r-blue-950"
  style="background-color: #bbb7b7"
>
    {{flagSymbol}}
</button>
<button 
  *ngIf="cell && cell.clicked" 
  [ngStyle]="{color:symbolColor,backgroundColor:'rgb(113 111 111)'}" 
  disabled 
  style="background-color: rgb(29 78 216);border-color: rgb(30 64 175);"
  class="w-full h-full font-bold border"
  >
    {{symbol}}
</button>