<button 
  *ngIf="cell && !cell.clicked && gameService.gameState.status === 'running'"
  (click)="onClick()"
  (contextmenu)="onRightClick()"
  class="border w-full h-full text-black font-bold tile" 
  [ngClass]="{'tile-flagged':cell.flag === 1}"
>
    {{flagSymbol}}
</button>
<button
  *ngIf="cell && !cell.clicked && gameService.gameState.status !== 'running'"
  disabled
  class="border w-full h-full text-black font-bold tile"
  style="background-color: #bbb7b7"
>
    {{flagSymbol}}
</button>
<button 
  *ngIf="cell && cell.clicked" 
  [ngStyle]="{color:symbolColor,backgroundColor:'rgb(113 111 111)'}" 
  disabled 
  style="background-color: rgb(29 78 216);border-color: rgb(30 64 175);"
  class="w-full h-full font-bold border tile"
  >
    {{symbol}}
</button>